body {
    font-family: 'Inter', sans-serif;
}

.result {
    background-color: #eeee;
    min-height: 30px;
    border-radius: 25px;
    min-width: auto;
    padding: 2em;
    margin-bottom: 3em;
}

.container{
  
}

/* main container */
.main{
    max-width: 90%;
}


/* text */
.explaination{
    margin-bottom: 2em;
    background-color: #47a85f;
    border-radius: 20px;
    padding: 1em;
}

.part{
    margin-bottom: 1em;
    font-weight: 300;
}

/* basic stuff */
.custom-line{
    /* border: 0.8px solid #aeaeae; */
    max-width: 80%;
}

h2{
    font-weight:500;
    text-align: center;
}


/* content container */
.main-content{
    /* background-color: #395674; */
    height: 30em;
}


/* navigation content */
.navigation-container{
    max-width: 60%;
}

.main-navigation:hover{
    border: 1px solid #47a85f;
    transition:0.3s;
}

.nav-text:hover{
    color: #47a85f;    
    
}


.main-navigation{
    /* background-color: red; */
    margin: 1em 1em 1em 1em;
    max-width: 50%;
    border: 1px solid #cfcfcf;
    border-radius: 1em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.main-navigation-title{
    /* background-color: green; */
}

.main-navigation-description{
    background-color: blue;
}

/* footer content */
.footer-content{

}

.footer-text{
    font-size: 0.8em;
    text-align: center;
}


.bgku{
    background-color: #f0f0f0;
    border: aliceblue;
}

.bg-input{
    font-weight: 600;
}

.clicker {
width:100px;
height:100px;
background-color:blue;
outline:none;
cursor:pointer;
}

.hiddendiv{
display:none;
height:200px;
background-color:green;
}

.clicker:focus + .hiddendiv{
display:block;
}

select{
    width:50em;
}

h1{
    font-weight: bold;
    margin-top: 0.8em;
}

.select2-container--default .select2-selection--multiple{
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #eee;
    border: none;
}

span, .measurement_input{
    margin-bottom: 1em;
    font-weight: 600;
}

h1{
    text-align: center;
}

.result-title{
    text-align: center;
}

h3{
    font-size : 1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    padding-left: 1em;
    padding-right: 1em;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {

}

.h4{
    font-weight: bold;
}

.textInput{
    font-weight: bold;
}

.hd_result{
    font-weight: bold;
}

.hd_result2{
    color: black;
    font-weight: normal;
    text-align: center;
}

.hd_result21{
    color: red;
    font-weight: normal;
    text-align: center;
}
.hd_result22{
    color: #3A7734;
    font-weight: normal;
    text-align: center;
}

