body {
    /*margin: 10em;*/
    font-family: arial, serif;
}

.bgku, .container-md {
    background-color: #f0f0f0;
    border: aliceblue;
}

.bg-input{
    background-color: red;
}

.clicker {
width:100px;
height:100px;
background-color:blue;
outline:none;
cursor:pointer;
}

.hiddendiv{
display:none;
height:200px;
background-color:green;
}

.clicker:focus + .hiddendiv{
display:block;
}

select{
    width:50em;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: normal;
}
