body {
    font-family: 'Inter', sans-serif;
    color: #474747;
    /* background-color: whitesmoke; */
}

.result {
    min-height: 30px;
    border-radius: 25px;
    min-width: auto;
    padding: 2em 5em 2em 5em;
    margin-bottom: 3em;
    border:1px solid #e7e7e7;
}

.container{
  
}

/* main container */
.main{
    max-width: 90%;
    padding: 2em;
}


/* text */
.explaination{
    margin-top: 2em;
    margin-bottom: 2em;
    /* background-color: #f8f8f8; */
    border:1px solid #e7e7e7;
    border-radius: 10px;
    padding: 2em;
}

.part{
    margin-bottom: 1em;
    font-weight: 400;
    text-align: justify;
    font-size: 0.8em;
    /* color: #454545; */
}

b{
    font-size: 1em;
    font-weight: 600;
    /* color: #1e1e1e; */
    /* color: #3A7734; */
}

/* basic stuff */
.custom-line{
    /* border: 0.8px solid #aeaeae; */
    max-width: 80%;
}

h2{
    font-weight:500;
    text-align: center;
    font-size: 1.8em;
}


/* content container */
.main-content{
    /* background-color: #395674; */
    height: 30em;
}


/* navigation content */
.navigation-container{
    max-width: 60%;
}


.nava{
    border: 1px solid #cfcfcf;
    color: #474747;
    padding: 1em;
}



.main-navigation-title{
    /* background-color: green; */

}

.main-navigation-description{
    background-color: blue;
}

/* footer content */
.footer-content{

}

.footer-text{
    font-size: 0.8em;
    text-align: center;
}


.bgku{
    background-color: #f0f0f0;
    border: aliceblue;
}

.bg-input{
    font-weight: 400;
    font-size: 1em;
}

.clicker {
width:100px;
height:100px;
background-color:blue;
outline:none;
cursor:pointer;
}

.hiddendiv{
display:none;
height:200px;
background-color:green;
}

.clicker:focus + .hiddendiv{
display:block;
}

select{
    width:50em;
}

h1{
    font-weight: 600;
    margin-top: 0.8em;
    color: #1e1e1e;
}

.select2-container--default .select2-selection--multiple{
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #eee;
    border: none;
}

span, .measurement_input{
    margin-bottom: 1em;
    font-weight: 400;
}

h1{
    text-align: center;
}

.result-title{
    text-align: center;
}

h3{
    font-size : 1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    padding-left: 1em;
    padding-right: 1em;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {

}

.h4{
    font-weight: bold;
}

.textInput{
    font-weight: bold;
}

.hd_result{
    font-weight: 500;
    margin-top: 2em;
}

.hd-result-number{
    color: white;
    font-weight: normal;
    text-align: center;
    background-color: #46a73e;
    padding: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 10em;
    margin-left: 8em;
    margin-right: 8em;
    font-weight: 600;
    font-size: 0.9em;
}

.hd-normal{
    background-color: #46a73e;
}

.hd-orange{
    background-color: #f09f36;
}

.hd-red{
    background-color: #d04552;
}

.hd-result-high{
    color: red;
    font-weight: normal;
    text-align: center;
}
.hd-result-normal{
    color: #3A7734;
    font-weight: normal;
    text-align: center;
}

.hd-result-gray {
    color: orange;
    font-weight: normal;
    text-align: center;
}

.select2-container--default .select2-container--focus .select2-selection--multiple{
    border:  1px solid #ced4da;
}

.list-group{
    padding-top: 0.5em;
}

.patient-form{
    margin-top: 2em;
    margin-bottom: 2em;
    /* background-color: #f8f8f8; */
    border:1px solid #e7e7e7;
    border-radius: 10px;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    /* background-color: white; */
}

.stretched-link{
    /* margin-bottom: 1em; */
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    color: #474747;

}

.stretched-link:hover{
    /* color: wheat; */
    color: #3e804f;
    text-decoration: none;
    transition: 0.5s;
    
    
}

.main-navigation{
    /* background-color: red; */
    transition: box-shadow .3s;
    margin: 1em 1em 1em 1em;
    max-width: 50%;
    border: 1px solid #cfcfcf;
    border-radius: 1em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* background-color: #92ff92; */
}

.main-navigation:hover{
    border: 1px solid #3e804f;
    transition:0.5s; 
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.btn-primary{
    background-color: #3A7734;
    color: white;
    border: none;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 10em;
}

.btn-primary:hover{
    background-color: #2b5827;
    transition: 0.5s;
}

.custom-hidden{
    visibility: hidden;
}

.input-group-text{
    min-width: 10em;
    background-color: #ebeef2;
}

.explanation-recommendation{
    margin: 0em 0em 4em 0em;
    /* background-color: #f8f8f8; */
    border:1px solid #e7e7e7;
    border-radius: 10px;
    padding: 1em 2em 1em 2em;
}

.explanation-hd-result{
    margin: 0;
    /* background-color: #f8f8f8; */
    border:1px solid #e7e7e7;
    border-radius: 10px;
    padding: 1em 2em 1em 2em;
}

h3 .title-recommendation{
    margin: 0 0 0 0.5em;
}

.bridge-form{
 margin-top: 5em;
}
.btn-bridge{
    font-size: 0.78em;
    color: #474747;
    padding: 1em;
    text-align: center;
}
.btn-bridge:hover{
    color: #1d7b47;
    text-decoration: none;
    transition:.3s;


}



