{% extends 'base.html' %}

{% block head %}
    <title>expert system</title>
{% endblock %}

{% block body %}
<h1>Heart Failure Expert System</h1>
<hr>

<div class="explaination d-flex flex-column">
    <span class="part">
        <b>Explaination</b><br>
        <!-- <hr> -->
        An expert system for heart failure is a program that uses the knowledge and expertise of heart medical specialist (Dokter Spesialis Jantung dan Pembuluh Darah) to assist in treatment and management of heart failure. It provides personalized recommendations based on patient data and helps help doctors make informed decisions. It improves accuracy, optimizes treatment plans, and supports patient education about heart failure.
        
    </span>

    <span class="part">
        <b>Data</b>
        <br>
        2022 AHA/ACC/HFSA Guideline for the Management of Heart Failure: A Report of the American College of Cardiology/American Heart Association Joint Committee on Clinical Practice Guidelines.
    </span>

    <span class="part">
        <b>system limitation</b>
        <br>
        currently we believe there this expert system is a god.
    </span>

</div>




<div class="container-fluid patient-form">
    <h2>Patient Data</h2>
    <hr>
    <form action="/expert_system" method="POST" enctype="multipart/form-data">
        <span>Evident and Diagnose</span>
        <div class="container-md">
            <select class="js-example-basic-multiple form-control form-control-lg" name="selected_evident" multiple="multiple" >
                {% for i in range(total_eveident_selection) %}
                    <option value="{{ eveident_selection_value[i] }}"
                         {% if eveident_selection_value[i] == ps_patient_diagnoses%}
                                selected="selected"
                        {% endif %}
                    >{{ eveident_selection_desc[i] }}</option>
                {% endfor %}
            </select>
        </div>

        <span>History</span>
        <div class="container-md">
            <select class="js-example-basic-multiple form-control form-control-lg" name="selected_history" multiple="multiple" >
                 {% for i in range(total_history_selection) %}
                    <option value="{{ history_selection_value[i] }}">{{ history_selection_desc[i] }}</option>
                {% endfor %}
            </select>
        </div>

        <span>Intolerant</span>
        <div class="container-md">
            <select class="js-example-basic-multiple form-control form-control-lg" name="selected_intolerance" multiple="multiple" >
                 {% for i in range(total_intolearant_selection) %}
                    <option value="{{ intolearant_selection_value[i] }}">{{ intolearant_selection_desc[i] }}</option>
                {% endfor %}
            </select>
        </div>

        {#<div class="custom-hidden">
            <span>Infeasible</span>
            <div class="container-md">
                <select class="js-example-basic-multiple form-control form-control-lg" name="selected_infeasible" multiple="multiple" >
                     {% for i in range(total_infeasible_selection) %}
                        <option value="{{ infeasible_selection_value[i] }}">{{ infeasible_selection_desc[i] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>#}





        <span>Sex</span>
        <div class="container-md">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="selected_sex" id="inlineRadio1" value="male"
                       {% if ps_patient_sex == 'male' %}
                                checked
                       {% endif %}
                >
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="selected_sex" id="inlineRadio2" value="female"
                    {% if ps_patient_sex == 'female' %}
                                checked
                    {% endif %}
                >
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
        <br><br>

        <h2>Measurement</h2>
        <span class="part">
            <b>Non - Mandatory</b><br>
            Measurements above is not mandatory, but highly suggested for recommendation accuracy on heart failure patients treatment
        </span>
        <hr>


{#        <hr>#}
        <div class="container-md">
            {% for i in range(total_measurement) %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-3">
                            <label class="measurement_input" for="{{ measurement_value[i] }}">{{ measurement_desc[i] }}</label>
                        </div>
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <input class="form-control form-control-md" type="text" placeholder="" name="{{ measurement_value[i] }}">
                                <div class="input-group-append">
                                    <span class="input-group-text">{{ measurement_unit[i] }}</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <br>
        <input type="submit" value="submit" class="btn btn-primary">
        <br>
        <br>
    </form>
</div>

{% endblock %}

{% block js %}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}