{% extends 'base.html' %}

{% block head %}
    <title>expert system</title>
{% endblock %}

{% block body %}
    
<h1>expert system</h1>

    <div class="container ">
    <div>
<div class="clicker" tabindex="1">Click me</div>
<div class="hiddendiv"></div>
</div>




        <div class="input-group mb-3">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fakta Pasien
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Tambahkan</button>
            </div>
        </div>

        <div class="input-group mb-3 ">
testttt
    </div>

    <h1>Evidents</h1>
        <div class="container bgku">
            data evident testing
        </div>
    <h1>Diagnoses</h1>
        <div class="container bgku">
        data diagnose testing
        </div>

    <h1>History</h1>
        <div class="container bgku">
            data diagnose testing
        </div>
    <h1>Intolerant</h1>
        <div class="container bgku">
            data intolerant testing
        </div>


    <div class="container">
    <datalist id="brow">
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
    </div>

{% endblock %}