{% extends 'base.html' %}

{% block head %}
    <title>expert system</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Expert System</h1>
        <hr>

        <h2>Patient Data</h2>
        <hr>

        <div class="container">
            <form action="/expert_system" method="POST" enctype="multipart/form-data">
                <span>Evident and Diagnose</span>
                <div class="container-md">
                    <select class="js-example-basic-multiple form-control form-control-lg" name="selected_evident" multiple="multiple" >
                        {% for i in range(total_eveident_selection) %}
                            <option value="{{ eveident_selection_value[i] }}">{{ eveident_selection_desc[i] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <span>History</span>
                <div class="container-md">
                    <select class="js-example-basic-multiple form-control form-control-lg" name="selected_history" multiple="multiple" >
                         {% for i in range(total_history_selection) %}
                            <option value="{{ history_selection_value[i] }}">{{ history_selection_desc[i] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <span>Intolerant</span>
                <div class="container-md">
                    <select class="js-example-basic-multiple form-control form-control-lg" name="selected_intolerance" multiple="multiple" >
                         {% for i in range(total_intolearant_selection) %}
                            <option value="{{ intolearant_selection_value[i] }}">{{ intolearant_selection_desc[i] }}</option>
                        {% endfor %}
                    </select>
                </div>


                <span>Infeasible</span>
                <div class="container-md">
                    <select class="js-example-basic-multiple form-control form-control-lg" name="selected_infeasible" multiple="multiple" >
                         {% for i in range(total_infeasible_selection) %}
                            <option value="{{ infeasible_selection_value[i] }}">{{ infeasible_selection_desc[i] }}</option>
                        {% endfor %}
                    </select>
                </div>





                <span>Sex</span>
                <div class="container-md">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selected_sex" id="inlineRadio1" value="male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selected_sex" id="inlineRadio2" value="female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                </div>
                <br><br>

                <h2>Measurement</h2>
                <hr>
                <div class="container-md">
                    {% for i in range(total_measurement) %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3">
                                    <label class="measurement_input" for="{{ measurement_value[i] }}">{{ measurement_desc[i] }}</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control form-control-md" type="text" placeholder="" name="{{ measurement_value[i] }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <br>
                <input type="submit" value="submit" class="btn btn-primary">
                <hr>
                <br>
                <br>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}