{% extends 'base.html' %}

{% block head %}
    <title>yoii mannn</title>
{% endblock %}

{% block body %}
    <h1>backend go brrrrrrrrr</h1>
    <div class="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">informasi hehe</th>
                    <th scope="col">value</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.value }}</td>
                    <td>
                        <a class="btn btn-primary" href="">delete</a>
                        <a class="btn btn-primary" href="">update</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>


        </table>

        <form action="/" method="POST">
            <input type="text" name="information_input">
            <input type="text" name="value_input">
            <input type="submit" value="add information">
        </form>

    </div>


{% endblock %}