{% include "base.html" %}
{% block head %}
    <title>expert system</title>
{% endblock %}

{% block body %}
    <div class="container"></div>
    <h1>Expert system on testing</h1>

<h1>
    {% block selection_title %}
    {% endblock %}
</h1>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Tambahkan</button>
    </div>
</div>

<div class="container bgku">
    {% block selection_data %}
    {% endblock %}
</div>

{% endblock %}